{% extends 'base.html.twig' %}

{% block title %}Stade{% endblock %}

{% block main %}
    <h1>{{ stadium.description }}</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ stadium.id }}</td>
            </tr>
            <tr>
                <th>Membre</th>
                <td>{{ stadium.creator.email }}</td>
            </tr>
            <tr>
                <th>Description</th>
                <td>{{ stadium.description }}</td>
            </tr>
            <tr>
                <th>Maillots</th>
                <td>
                    <ul>
                    {% for shirt in stadium.shirts %}
                    <li>
                        <a href="{{ path( 'app_stadium_shirtshow',
                                        {
                                            'stadium_id': stadium.id,
                                            'shirt_id' : shirt.id
                                        }
                                        ) }}">{{ shirt.team }}</a>
                    </li>
                    {% endfor %}
                    </ul>
                </td>
            </tr>
            
        </tbody>
    </table>

    <div>
        <a href="{{ path('app_stadium_index') }}" class="btn btn-outline-secondary mb-2">retour aux stades</a><br>
        {% if is_granted('ROLE_ADMIN') or app.user == stadium.creator%}
        <a href="{{ path('app_stadium_edit', {'id': stadium.id}) }}" class="btn btn-warning btn-sm mb-2">modifier</a>
        {{ include('stadium/_delete_form.html.twig') }}
        {% endif %}
    </div>

    
{% endblock %} {# main #}
